<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <p>
            By: <a href="https://giovannins.xyz">Giovanni Neves Sadauscas</a>.
        </p>
    </div>
</footer>