<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SoftExpert Teste</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="bi-house-fill"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/products" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="bi-box-fill"></i> Products</a>
                </li>
            </ul>
            <div class="d-flex">
                <a class="btn btn-outline-primary" routerLink="/login" ><i class="bi bi-person-fill"></i> Login</a>
            </div>
        </div>
    </div>
</nav>