<main class="container">

    <div class="d-flex align-items-center flex-column my-5">
        <h1 class="display-1 mt-5 mb-2">
            <span class="bg-danger text-white px-3 rounded shadow">404</span>
        </h1>
        <h2 class="text-black-50 mb-5 mt-2">
            Ooops... Não foi possível encontrar essa página. <span class="text-black">😥</span>
        </h2>
    </div>
</main>