<main class="container my-5">

    <div class="bg-light p-5 rounded-3 ">
        <h1>Jumbotron example</h1>
        <div class="py-3">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad nulla aperiam excepturi doloribus dolores itaque quisquam numquam tenetur culpa obcaecati saepe incidunt molestiae optio fuga, laudantium veritatis nobis commodi praesentium.</p>
        </div>
        <div>
            <button class="btn btn-primary">Buy it!</button>
        </div>
    </div>
    
</main>