<main class="container">

    <h1 class="display-2 my-5 ">
        <span class="bg-danger text-white fw-bold fst-italic p-2  rounded-start shadow">Soft</span>
        <span class="bg-primary text-white fw-bold fst-italic p-2  rounded-end shadow">Expert</span>
    </h1>

    <p class="lead">Conheça as soluções da <strong>SoftExpert</strong> para a gestão integrada da conformidade, inovação e transformação digital.</p>

    <hr>
    <section class="row">
        <article class="col-sm-12 col-lg-8">
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, doloribus! Tempora repudiandae nesciunt perspiciatis molestias corporis consequatur esse minus blanditiis expedita a repellat, similique harum neque facere vitae atque eligendi, molestiae nobis consectetur! Dolor velit, illum doloremque quas iure aliquid officia culpa? Vero nemo harum repellendus sit impedit ducimus eius?</p>
        </article>
    </section>
</main>