<main>
    <div class="d-flex justify-content-center my-5">

        <div class="card my-5" style="width: 18rem;">
            
            <div class="card-body shadow">
                <h5 class="card-title text-center mb-4">Enter your account</h5>
                <form>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="john_smith">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="">
                    </div>
                    <input type="submit" value="Login" class="btn btn-outline-success">
                </form>
            </div>
            
        </div>
        
    </div>
</main>