<main class="container">

    <h1 class="display-2 mb-5">Our products</h1>

    <section>
        <article class="row">
            <p class="col-sm-12 col-md-6 col-lg-8 lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores, saepe ratione? Magnam doloremque modi reprehenderit quidem numquam necessitatibus, molestias vel a deleniti, eos quibusdam fugiat nihil at eveniet! Libero eos sunt nobis ex molestiae odit.</p>
        </article>
    </section>
    <hr>
    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
        <app-card-product class="col"></app-card-product>
        <app-card-product class="col"></app-card-product>
        <app-card-product class="col"></app-card-product>
        <app-card-product class="col"></app-card-product>
    </div>
</main>