<div class="card shadow my-3 hover-up" style="width: 18rem;">
    <img src="https://placehold.co/300x200" class="card-img-top" alt="Placeholder picture">
    <div class="card-body">
        <h5 class="card-title">{{productName}}</h5>
        <p class="card-text">{{ productDescription }}</p>
        <a routerLink="/product/{{productId}}" class="btn btn-primary">View details</a>
    </div>
</div>

